*{
  font-family: 'Didot', serif;
  /*background-color: black;
  color: #DCDCDC; #DAA520;
  */
}

html, body{
	height:100%;
	width:100%;
}

.navbar{
	padding: .8rem;
}

.navbar-nav li{
	padding-right: 20px;
}

.nav-link{
	font-size: 1.1em;
}

.carousel-inner img{
	width:100%;
}

.carousel-caption{
	position: absolute;
	top:60%;
	transform: translateY(-50%);
}

.logo {
	width: 25%;
	margin-bottom: 3px;
}

h1 {
	text-shadow: 3px 3px 1px black;
}
p{
	font-style: italic;
}

#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(218, 165, 32, 0.7);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  color: #DCDCDC;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: ;
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: ;
}

.team-member{
	margin-bottom: 3rem;
	text-align: center;
}
.person{
	border: 0%;
	width:100%;
}

.mx-auto {
  margin-right: auto !important;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

section#contact {
  background-color: #DCDCDC;
  background-image: url("images/LSstool.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .section-heading {
  color: black;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 150%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 150%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #DAA520;
  box-shadow: none;
}

#footer{
  text-align: center; 
  background-color: black;
  color: white;
}