          body {
          background-color: #000033;
          }
          h1 {
          font-family: verdana;
          color: white;
          text-align: center;
          }
          p1 {
          font-family: verdana;
          color: #DCDCDC;
          text-align: center;
          }
          h2 {
          font-family: verdana;
          color: white;
          text-align: left;
          text-decoration: underline;
          text-decoration-color: #DCDCDC;
          }
          p2 {
          font-family: verdana;
          color: #DCDCDC;
          text-align: left;
          }
          p3 {
          font-family: verdana;
          color: #DCDCDC;
          text-align: center;
          }
          p4 {
          font-family: verdana;
          color: #DCDCDC;
          text-align: center;
          }
          p7 {
          font-family: verdana;
          color: #DCDCDC;
          text-align: center;
          color: black;
          }
          .image{
               text-align: center;
               padding: 2%;
          }
          .likert{
              list-style: none;
              text-align: center;
              padding-top: 1%;
          }
          .likert li{
              display: inline;
              font-family: verdana;
              color: #DCDCDC;
          }